@import url('https://fonts.googleapis.com/css?family=Cormorant Upright');
*
{
    font-family: 'Cormorant Upright';
    font-weight: bold;
}
body{
    background-color: #f7f9fa;
    /* background-color: aquamarine; */
}
/* nav bar */
.nav-bar{
    height: 4.5rem;
}
.logo{
    height: 4.4rem;
    width: 4.4rem;
}
    .vr-line{
        height: 4rem;
        width: 5rem;
    }
.social-media{
    margin-left: 50rem;
    font-size: 1.2rem;
}
.banner-card{
    margin-left: 37vh;
    height: 70vh;
    width: 140vh;
    /* background-color: antiquewhite; */
    background-image: url('images/bgimg-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(1px); */
}
.card-bg{
    height: 50vh;
    width: 48vh;
    margin-top: 5vh;
}
.bann-con{
    margin-top: 25vh;
}
.ten{
    font-weight: 900;
    /* font-size: 20px; */
    font-family: 'Kalnia Fatface';
    font-size: 35px;
}
.btn{
    width: 23vh;
}
.game-list li , h3{
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
}





.a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
  }

  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }

  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px -70px;
  }

  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }

  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }

  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }

  /* .list-card
{
    display: flex;
    /* display; */
/* }  */
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
