@import url('https://fonts.googleapis.com/css?family=Cormorant Upright');
*
{
    font-family: 'Cormorant Upright';
    font-weight: bold;
}
body{
    background-color: #f7f9fa;
    /* background-color: aquamarine; */
}
/* nav bar */
.nav-bar{
    height: 4.5rem;
}
.logo{
    height: 4.4rem;
    width: 4.4rem;
}
    .vr-line{
        height: 4rem;
        width: 5rem;
    }
.social-media{
    margin-left: 50rem;
    font-size: 1.2rem;
}
.banner-card{
    margin-left: 37vh;
    height: 70vh;
    width: 140vh;
    /* background-color: antiquewhite; */
    background-image: url('images/bgimg-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(1px); */
}
.card-bg{
    height: 50vh;
    width: 48vh;
    margin-top: 5vh;
}
.bann-con{
    margin-top: 25vh;
}
.ten{
    font-weight: 900;
    /* font-size: 20px; */
    font-family: 'Kalnia Fatface';
    font-size: 35px;
}
.btn{
    width: 23vh;
}
.game-list li , h3{
    margin-left: 20vh;
    font-family: Arial, Helvetica, sans-serif;
}
